<p id="notice"><%= notice %></p>

<h1>Posts</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Author</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @posts.each do |post| %>
      <tr>
        <td><%= link_to post.title, post %></td>
        <td>
          <% if post.user == current_user %>
            <p>Me</p>
          <% else %>
            <p><%= post.user.name %>
          <% end %>
          <td>
            <p>
              <%= pluralize(post.likes.count,'Like')%>
              <% pre_like = post.likes.find { |like| like.user_id == current_user.id} %>
              <% if pre_like %>
                <%= link_to image_tag(image_url('fav_icon.svg')), post_like_path(post, pre_like), class: 'vote', method: :delete %>
              <% else %>
                <%= link_to image_tag(image_url('not_yet_fav_icon.svg')), post_likes_path(post), class: 'vote', method: :post %>
              <% end %>

            </p>
          </td>
        <td>
          <% if post.user == current_user %>
            <%= link_to 'Edit', edit_post_path(post) %>
          <% end %>
          </td>
        <td>
          <% if post.user == current_user %>
            <%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
